.features {
  background: #040C18;
  position: relative;
  
}

.features__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin: 4rem 0;
}

.features__heading::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 70%;
  top: 0rem;
  left: 0rem;
  z-index: 5;

  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 18% 29%, rgba(15, 66, 121, 1) 0%, rgba(4, 12, 24, 1) 81%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 18% 29%, rgba(15, 66, 121, 1) 0%, rgba(4, 12, 24, 1) 81%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 18% 29%, rgba(15, 66, 121, 1) 0%, rgba(4, 12, 24, 1) 81%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 18% 29%, rgba(15, 66, 121, 1) 0%, rgba(4, 12, 24, 1) 81%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 18% 29%, rgba(15, 66, 121, 1) 0%, rgba(4, 12, 24, 1) 81%, rgba(4, 12, 24, 1) 100%);

}

.features__heading {
  max-width: 26rem;
}

.features__heading h2, .features__heading p{
  position: relative;
  z-index: 6;
}

.features__heading h2.gradient-text {
  font-weight: 800;
  font-size: 2.125rem;
  line-height: 2.8rem;
}

.features__heading p {
  margin: 2rem 0;
  color: #FF8A71;
  font-size: 1rem;
  line-height: 1.875rem;
}

.features__list {
  z-index: 6;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.features__list--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 5rem;
}

.features__list--item .feature__title {
  max-width: 11.3rem;
}

.features__list--item .feature__title p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.features__list--item .feature__text {
  max-width: 20.875rem;
}

.features__list--item .feature__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1441px) {
  .features__content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1200px) {
  .features__content {
    flex-direction: column;
  }

  .features__heading {
    max-width: 100%;
  }
}