.features {
  background: inherit;
}

.features__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin: 5rem 0;
}

.features__heading {
  max-width: 26rem;
}

.features__heading h2.gradient-text{
  font-weight: 800;
  font-size: 2.125rem;
  line-height: 2.8rem;
}

.features__heading p{
  margin: 2rem 0;
  color: #FF8A71;
  font-size: 1rem;
  line-height: 1.875rem;
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.features__list--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 5rem;
}

.features__list--item .feature__title {
  max-width: 11.3rem;
}

.features__list--item .feature__title p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.features__list--item .feature__text {
  max-width: 20.875rem;
}

.features__list--item .feature__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1441px) {
  .features__content {
    justify-content: space-around;
  }
}