.footer {
  background-color: #031B34;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer__cta {
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__cta--title {
  font-size: 3.875rem;
  line-height: 4.6rem;
  letter-spacing: -0.04rem;
  text-align: center;
  margin-bottom: 3rem;
}

.footer__cta--button {
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: transparent;
}

.footer__cta--button:hover {
  transition: 0.5s ease-in;
  background: var(--gradient-text);
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.footer__brand p {
  margin: 2rem 0;
  color: #ffffff;
  font-size: 0.75rem;
}

.footer__title {
  color: #ffffff;
  font-weight: 800;
  font-size: 0.875rem;
}


.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.footer__item {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin: 1rem 0;
}

.footer__copyright {
  margin-top: 3rem;
}

.footer__copyright p {
  color: #ffffff;
  font-size: 0.75rem;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 1441px) {
  .footer__nav {
    padding: 0 16rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .footer__copyright {
    margin-top: 0;
  }
}