.feature__title {
  position: relative;
}

.feature__title::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 3px;
  top: 0;
  left: 0;
  background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

.feature__title p {
  margin: 0;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: -0.04em;
}

.feature__text {
  color: #81AFDD;
  font-size: 1rem;
  line-height: 1.875rem;
}