.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 2rem; */
}

.header__illustration {
  width: 40rem;
  height: 43.8rem;
}

.header__illustration img {
  width: 100%;
  height: 100%;
}

.header__heading {
  font-size: 3.875rem;
  line-height: 4.6rem;
  font-weight: 800;
  letter-spacing: -0.04em;
}

.header__text {
  margin: 2rem 0;
  color: #81AFDD;
  font-size: 1.25rem;
  line-height: 1.68rem;
}

.header__form,
.header__form form {
  width: 100%;
}

.header__form input[type="email"],
.header__form input[type="text"] {
  width: 70%;
  padding: 1rem 2rem;
  background-color: #052D56;
  border: none;
  outline: none;
  caret-color: #ffffff;
  color: #ffffff;
}

.header__form input[type="email"]::placeholder,
.header__form input[type="text"]::placeholder {
  color: #3D6184;
}

.header__form button[type="submit"] {
  width: 30%;
  padding: 0.9rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #FF4820;
  color: #ffffff;
}

.header__form button[type="submit"]:hover {
  background: var(--gradient-text);
}

.header__members {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

.header__people-avatars {
  height: 2.3rem;
  margin-right: 1rem;
}

.header__joined-members {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 2.375rem;
}

@media screen and (max-width: 1200px) {
  .header__form form {
    display: flex;
    flex-direction: column;
  }

  .header__form input[type="email"],
  .header__form input[type="text"],
  .header__form button[type="submit"] {
    width: 100%;
  }

  .header__members {
    flex-direction: column;
  }
}