.navbar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.navbar__logo {
  margin-right: 4rem;
}

.navbar__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__link a {
  color: #ffffff;
  padding: 0 1rem;
  line-height: 1.56rem;
  font-size: 1.125rem;
  /* font-weight: 500; */
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar__button {
  color: #ffffff;
  padding: 0 1rem;
  line-height: 1.56rem;
  font-size: 1.125rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__button.navbar__button--cta {
  background-color: #FF4820;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  margin-left: 5px;
}