nav {
  padding: 2rem 3rem;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #031B34;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__logo {
  margin-right: 4rem;
}

.navbar__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__link a {
  color: #ffffff;
  padding: 1rem;
  line-height: 1.56rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.navbar__link a:hover {
  transition: 0.5s ease-in;
  color: #FF4820;
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar__button {
  color: #ffffff;
  padding: 0 1rem;
  line-height: 1.56rem;
  font-size: 1.125rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__button:hover {
  transition: 0.5s ease-in;
  color: #FF4820;
}

.navbar__button.navbar__button--cta {
  background-color: #FF4820;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  margin-left: 5px;
}

.navbar__button.navbar__button--cta:hover {
  color: #ffffff;
  background: var(--gradient-text);
}

@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar__nav {
    display: none;
  }

  .navbar__menu {
    /* overflow-y: hidden; */
  }

  .navbar__menu--toggled {
    background-color: #FF4820;
    position: relative;
  }

  .navbar__icon--wrapper {
    display: block;
    color: #ffffff;
    padding: 0.5rem;
    font-weight: bold;
  }

  .navbar__icon {
    width: 2rem;
    height: 2rem;
    color: #ffffff;
  }

  .navbar__nav.navbar__items--toggled {
    position: absolute;
    top: 3.5rem;
    right: 0rem;
    width: 16rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #031B34;
    z-index: 20;
  }

  .navbar__nav.navbar__items--toggled .navbar_items {
    display: flex;
    flex-direction: column;
  }

  .navbar__items--toggled .navbar__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__items--toggled .navbar__items .navbar__link {
    padding: 1rem 2rem;
  }

  .navbar_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar__button {
    padding: 1rem 2rem;
  }

  .navbar__button.navbar__button--cta {
    padding: 1rem 2rem;
    border-radius: 0px;
    margin-left: 0px;
    background-color: transparent;
  }

  .navbar__link a:hover,
  .navbar__button:hover {
    color: #ffffff;
    background: var(--gradient-text);
  }
}