.cta {
  margin: 5rem 1rem;
}

.cta__wrapper {
  padding: 3rem;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cta__prompt {
  color: #0E0E0E;
  font-size: 12px;
  line-height: 30px;
}

.cta__message {
  font-size: 24px;
  line-height: 45px;
  font-weight: bold;
}

.cta__button button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 1.5rem 3.5rem;
  background-color: #000000;
  border-radius: 40px;
}
