.cta {
  background: #040C18;
}

.cta__wrapper {
  padding: 3rem;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cta__prompt {
  color: #0E0E0E;
  font-size: 0.75rem;
  line-height: 1.875rem;
}

.cta__message {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.cta__button button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fffbfb;
  font-size: 1.125rem;
  padding: 1.2rem 3.5rem;
  background-color: #000000;
  border-radius: 40px;
}

.cta__button button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #000000;
  transition: 0.3s ease-in;
}

@media screen and (min-width: 1441px) {
  .cta__wrapper {
    justify-content: space-around;
  }
}