* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient-bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 91% 75%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%, rgba(7, 45, 86, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 91% 75%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%, rgba(7, 45, 86, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 91% 75%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%, rgba(7, 45, 86, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 91% 75%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%, rgba(7, 45, 86, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 91% 75%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%, rgba(7, 45, 86, 1) 100%);

}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding {
  padding: 1rem 2rem;
}

.section-margin {
  margin: 1rem 2rem;
}

@media screen and (min-width: 1440px) {
  .section-margin {
    padding: 4rem 8rem;
  }
  
  .section-padding {
    padding: 4rem 8rem;
  }  
}

@media screen and (max-width: 1200px) {
  .section-padding {
    padding: 1.5rem 4.5rem;
  }
  
  .section-margin {
    padding: 1.5rem 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding: 1rem 2rem;
  }
  
  .section-margin {
    margin: 1rem 2rem;
  }
}